apiVersion: apps/v1
kind: Deployment
metadata:
  name: elector
  namespace: churn
  labels:
    app: elector
spec:
  replicas: 2
  selector:
    matchLabels:
      app: elector
  template:
    metadata:
      labels:
        app: elector
    spec:
      imagePullSecrets:
        - name: gcp-artifact-registry
      containers:
        - name: elector
          image: us-central1-docker.pkg.dev/inbest-transformation/nadro-demo/elector:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8501
          env:
            - name: MAIN_MODEL_URL
              value: "http://main-model:5000"
            - name: CANARY_MODEL_URL
              value: "http://canary-model:5001"
            - name: CANARY_TRAFFIC_PERCENT
              value: "20"
          readinessProbe:
            httpGet:
              path: /
              port: 8501
            initialDelaySeconds: 10
            periodSeconds: 20
          livenessProbe:
            httpGet:
              path: /
              port: 8501
            initialDelaySeconds: 20
            periodSeconds: 30
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "300m"
              memory: "512Mi"